{% extends "admin_admin_index.html" %} {% block title%}REGISTER_USER{% endblock%}
{% block content %}
<div class="signup_content">
    <h2>Register User</h2>
    <form method="post" class="signup">
        <div class="signup_image">
            
        </div>
        <div>
            <input type="text" name="firstname" required="">
            <label>First Name</label>
        </div>
        <div>
            <input type="text" name="lastname" required="">
            <label>Last Name</label>
        </div>
        <div>
            <input type="text" name="group" required="">
            <label>Group</label>
        </div>
        
        <div>
            <input type="text" name="scc" required="">
            <label>SCC</label>
        </div>
        
        <div>
            <input type="email" name="email" required="">
            <label>Email</label>
        </div>
        
        <div>
            <input type="tel" name="phone" required="">
            <label>Phone</label>
        </div>
        
        <div>
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        
        <span>
            <button type="submit">Add</button>
        </span>
    </form>
</div>
{% endblock %}
