{% extends "user_user_index.html" %}{% block title %}BOOKINGS{% endblock %}
{% block content %}
<div class="bookings_content">
    <div>
        <a href="">
        <h3>Book mass</h3>
        <img src="{{url_for('static', filename='kcc.jpg')}}">
        </a>
    </div>
    <div>
        <a href="">
        <h3>Make Baptism booking</h3>
        <img src="{{url_for('static', filename='kcc.jpg')}}">
        </a>
    </div>
    <div>
        <a>
        <h3>Make confirmation booking</h3>
        <img src="{{url_for('static', filename='kcc.jpg')}}">
        </a>
    </div>
</div>
{% endblock %}