{% extends "user_user_index.html" %}{% block title %}MINISTRIES{% endblock %}
{% block content %}
<div class="ministries_content">
    <h2>Youth Activities</h2>
    <div class="youth">
        
        <div>
            <h3>Charitable Visits</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Annually, the youth of our church embark on a heartwarming charitable journey, reaching out to the less fortunate in our community. Typically scheduled during the holiday season, these visits involve distributing essentials, organizing food drives, and spending quality time with those in need. It's a powerful reminder of the joy that comes from giving back and fostering a sense of community.</p>

        </div>
        <div>
            <h3>MUSIC FESTIVALS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>YOUTH RALLIES</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>BALL GAMES COMPETITIONS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
        </div>
        <div>
            <h3>NIGHT VIGILS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>The youth actively engages in spiritual growth through annual virgil masses, which are held on significant occasions in the church calendar, such as Easter and Christmas Eve. These overnight prayer sessions create a serene atmosphere for reflection, worship, and a deepening of their faith. It's a time for spiritual renewal and a unique bonding experience for the youth community.</p>

        </div>
        <div>
            <h3>TOWN CLEAN UP</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
        </div>
    </div>
    <h2>PMC Activities</h2>
    <div class="pmc">
        
        <div>
            <h3>Charitable Visits</h3>
            <img src="{{url_for('static', filename='pmc.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>MUSIC FESTIVALS</h3>
            <img src="{{url_for('static', filename='pmc.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>BALL GAMES COMPETITIONS</h3>
            <img src="{{url_for('static', filename='pmc.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>PMC OUTREACH</h3>
            <img src="{{url_for('static', filename='pmc.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
    </div>
    <h2>YACA Activities</h2>
    <div class="yaca">
        
        <div>
            <h3>Charitable Visits</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Annually, the youth of our church embark on a heartwarming charitable journey, reaching out to the less fortunate in our community. Typically scheduled during the holiday season, these visits involve distributing essentials, organizing food drives, and spending quality time with those in need. It's a powerful reminder of the joy that comes from giving back and fostering a sense of community.</p>
        </div>
        <div>
            <h3>MUSIC FESTIVALS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Each year, our youth enthusiastically participates in teambuilding activities designed to strengthen bonds and enhance collaboration. These events, often organized during the summer months, include outdoor adventures, workshops, and problem-solving challenges. The focus is on building a supportive network, encouraging teamwork, and fostering a sense of unity among the youth members.</p>
        </div>
        <div>
            <h3>BALL GAMES COMPETITIONS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>The youth actively engages in spiritual growth through annual virgil masses, which are held on significant occasions in the church calendar, such as Easter and Christmas Eve. These overnight prayer sessions create a serene atmosphere for reflection, worship, and a deepening of their faith. It's a time for spiritual renewal and a unique bonding experience for the youth community.</p>
        </div>
        <div>
            <h3>TEAM BUILDING</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>
        </div>
        <div>
            <h3>YACA PROJECTS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
    </div>
    <h2>CMA Activities</h2>
    <div class="cma">
       
        <div>
            <h3>Charitable Visits</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>TEAM BUILDING</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>CMA PROJECTS</h3>
            <img src="{{url_for('static', filename='youth.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>CMA TURNING BOYS TO MEN</h3>
            <img src="{{url_for('static', filename='cma.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
    </div>
    <h2>CWA Activities</h2>
    <div class="cwa">
        
        <div>
            <h3>Charitable Visits</h3>
            <img src="{{url_for('static', filename='cwa.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>TEAM BUILDING</h3>
            <img src="{{url_for('static', filename='cwa.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>CMA PROJECTS</h3>
            <img src="{{url_for('static', filename='cwa.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
        <div>
            <h3>CWA TURNING GIRLS INTO WOMEN</h3>
            <img src="{{url_for('static', filename='cwa.jpg')}}">
            <p>Celebrating the joy of music and worship, the youth organizes an annual music festival that showcases the talents within the church community. Held during the fall season, this vibrant event features performances by the church choir, soloists, and instrumentalists. It's an opportunity for the youth to express their devotion through music and share their artistic gifts with the congregation.</p>

        </div>
    </div>
</div>
{% endblock %}