{% extends "user_user_index.html" %} {% block title%}ABOUT US{% endblock%}
{% block content %}
<div class="aboutus_content">
    <h3>OUR HISTORY</h3>
    <div>
        <div class="column_container">
            <img src="{{url_for('static', filename='church.jpg')}}"> 
        </div>
        <div>
            <p>One iconic Catholic church with a rich history is St. Peter's Basilica in Vatican City. Its history dates back to the 4th century when Emperor Constantine initiated the construction of the original basilica on the site believed to be the burial place of St. Peter, one of the twelve apostles of Jesus. The basilica underwent several reconstructions over the centuries, culminating in the Renaissance-era masterpiece we see today. Designed by architects including Michelangelo and Gian Lorenzo Bernini, St. Peter's Basilica stands as a symbol of grandeur and spiritual significance. Its iconic dome and stunning artworks, such as Michelangelo's Pietà and the baldachin by Bernini, attract millions of visitors annually. As the center of Catholicism, St. Peter's Basilica holds historical and religious significance, reflecting the enduring legacy of the Catholic Church.</p>
        </div>
    </div>
    <br><br>
    <div>
        <div>
            <h3>OUR MISSION</h3>
            <p>At St. Mary's Catholic Church, our mission is to be a beacon of God's love, fostering a vibrant and inclusive community dedicated to spiritual growth and service. Rooted in the teachings of Jesus Christ, we strive to create an environment where individuals and families can deepen their faith, find solace, and experience the transformative power of God's grace.</p>
        </div>
        <div>
            <h3>OUR VISION</h3>
            <p>Our vision is to be a dynamic parish that actively engages in worship, education, and outreach, reaching out to those in need and building connections that transcend our church walls. Through prayer, fellowship, and compassionate service, we aim to be a living testament to Christ's love, embodying the principles of love, justice, and mercy in all aspects of our parish life. Together, we journey toward a future filled with faith, hope, and an unwavering commitment to making a positive impact on the world around us.</p>
        </div>
        <div>
            <h3>OUR LOCATION</h3>
            <p>St. Peter's Basilica is located within Vatican City, an independent city-state enclave surrounded by Rome, Italy. Vatican City is the smallest independent state globally, both in terms of area and population, and it serves as the spiritual and administrative headquarters of the Catholic Church. The exact address for St. Peter's Basilica is Piazza San Pietro, 00120 Vatican City. The basilica is situated in the western part of Vatican City, near the banks of the Tiber River. The location is easily accessible from various points in Rome, and its prominent position within Vatican City makes it a focal point for religious pilgrims, tourists, and art enthusiasts from around the world. The surrounding St. Peter's Square, designed by Gian Lorenzo Bernini, adds to the grandeur of the basilica and serves as a gathering place for various events and ceremonies</p>
        </div>
    </div> 
    <br><br>
    <h3>OUR PRIESTS</h3>
    <div>
        <div>
            <h3>PARISH PRIEST</h3>
            <img src="{{url_for('static', filename='registeruser.jpg')}}">
            <p>Greetings to the beloved members of our church community and all visitors to our website. As the Chairperson of our church, I extend a warm welcome to you. Our church is more than a place of worship; it's a vibrant community where faith, love, and fellowship flourish. Rooted in the rich traditions of the Catholic Church, we strive to create an inclusive and supportive environment for all. Whether you are a longtime member or a first-time visitor, we invite you to explore the various ministries, events, and opportunities for spiritual growth that our church offers. Together, let us continue to build a strong foundation of faith, compassion, and service, guided by our shared commitment to living out the teachings of Christ. Thank you for being part of our church family, and may God's blessings be upon you.</p>
        </div>
        <div>
            <h3>ASSISTANT PARISH PRIEST</h3>
            <img src="{{url_for('static', filename='registeruser.jpg')}}">
            <p>Greetings to the beloved members of our church community and all visitors to our website. As the Chairperson of our church, I extend a warm welcome to you. Our church is more than a place of worship; it's a vibrant community where faith, love, and fellowship flourish. Rooted in the rich traditions of the Catholic Church, we strive to create an inclusive and supportive environment for all. Whether you are a longtime member or a first-time visitor, we invite you to explore the various ministries, events, and opportunities for spiritual growth that our church offers. Together, let us continue to build a strong foundation of faith, compassion, and service, guided by our shared commitment to living out the teachings of Christ. Thank you for being part of our church family, and may God's blessings be upon you.</p>
        </div>
    </div> 
    <br><br>   
    <div>
        <div>
            <h3>CHAIRPERSON'S</h3>
            <img src="{{url_for('static', filename='registeruser.jpg')}}">
        </div>
        <div>
            <p>Greetings to the beloved members of our church community and all visitors to our website. As the Chairperson of our church, I extend a warm welcome to you. Our church is more than a place of worship; it's a vibrant community where faith, love, and fellowship flourish. Rooted in the rich traditions of the Catholic Church, we strive to create an inclusive and supportive environment for all. Whether you are a longtime member or a first-time visitor, we invite you to explore the various ministries, events, and opportunities for spiritual growth that our church offers. Together, let us continue to build a strong foundation of faith, compassion, and service, guided by our shared commitment to living out the teachings of Christ. Thank you for being part of our church family, and may God's blessings be upon you.</p>
        </div>   
    </div>
    <br><br>
    <h3>OUR PROJECT</h3>
    <div>
        <div>
            <h3>CONSTRUCTION OF A HIGH SCHOOL</h3>
            <p>Greetings to the beloved members of our church community and all visitors to our website. As the Chairperson of our church, I extend a warm welcome to you. Our church is more than a place of worship; it's a vibrant community where faith, love, and fellowship flourish. Rooted in the rich traditions of the Catholic Church, we strive to create an inclusive and supportive environment for all. Whether you are a longtime member or a first-time visitor, we invite you to explore the various ministries, events, and opportunities for spiritual growth that our church offers. Together, let us continue to build a strong foundation of faith, compassion, and service, guided by our shared commitment to living out the teachings of Christ. Thank you for being part of our church family, and may God's blessings be upon you.</p>
        </div>
        <div>
            <br>
            <img src="{{url_for('static', filename='church.jpg')}}">
        </div>
        
        
    </div>
    <div>
        <div>
            <h3>CONSTRUCTION OF A HOSPITAL SCHOOL</h3>
            <p>Greetings to the beloved members of our church community and all visitors to our website. As the Chairperson of our church, I extend a warm welcome to you. Our church is more than a place of worship; it's a vibrant community where faith, love, and fellowship flourish. Rooted in the rich traditions of the Catholic Church, we strive to create an inclusive and supportive environment for all. Whether you are a longtime member or a first-time visitor, we invite you to explore the various ministries, events, and opportunities for spiritual growth that our church offers. Together, let us continue to build a strong foundation of faith, compassion, and service, guided by our shared commitment to living out the teachings of Christ. Thank you for being part of our church family, and may God's blessings be upon you.</p>
        </div>
        <div>
            <br>
            <img src="{{url_for('static', filename='church.jpg')}}">
        </div>
        
    </div>
</div>
{% endblock %}